node_modules
dist
build
.output
.tanstack
.wrangler
.env
.DS_Store
.idea
.vscode
logs
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ml_pipeline/models/
ml_pipeline/outputs/
ml_pipeline/mock_dataset.csv
*.pyc
dataset.csv
generated_queries.csv
